body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Stock component */

/* .stock {

} */
	.stock__list {
		list-style: none;
		padding: 0;
	}

/* Backdrop component */

.backdrop {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0 , 0, .7);
}

/* Order component */

.order {
	width: 800px;
	background-color: white;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	font-size: 18px;
	padding: 40px;
	box-shadow: 2px 2px 3px 3px rgba(0, 0 , 0, .2);
}
	.order__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}
		.order__row--header {
			height: 30px;
			margin-bottom: 40px;
		}
		.order__row--footer {
			height: 30px;
			margin-top: 40px;
			margin-bottom: 60px;
			font-weight: bold;
		}
		.order__row--buttons {
			height: 40px;
			margin-bottom: 0;
		}

	.order__title {
		font-size: 24px;
	}
	.order__icon {
		background-color: lightgray;
		padding: 7px;
		margin-left: 10px;
		cursor: pointer;
	}
		.order__icon--close {
			background-color: white;
			margin-left: 0;
		}
		.order__icon:disabled {
			opacity: .5;
		}

	.order__left-box {
		display: flex;
		align-items: center;
		margin-right: auto;
	}
	.order__image {
		width: 60px;
		height: 60px;
		margin-right: 10px;
	}
	.order__name {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 400px;
	}
	.order__middle-box {
		display: flex;
		align-items: center;
	}
	.order__input {
		width: 40px;
		height: 30px;
		text-align: center;
		margin-left: 10px;
	}
	.order__right-box {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 90px;
	}
	.order__button {
		display: flex;
		margin-left: auto;
	}


/* Media screen */

@media screen and (max-width: 480px ) {
	.order {
		width: 95%;
	}
	.order__image {
		display: none;
	}
	.order__name {
		max-width: 125px;
	}
}


/* button component */

.btn {
	width: 100px;
	height: 40px;
	font-size: inherit;
	margin-left: 10px;
	transition: all .2s;
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .2);
}
	.btn:hover {
		transform: translateY(2px);
		box-shadow: none;
	}
	.btn--blue {
		color: white;
		background-color: rgb(31, 111, 160);
	}
		.btn--blue:hover {
			color: white;
		}
